.forgot-password-container {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 40px;
  img {
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
  }
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    width: 100%;
    background-color: #ed2028 !important;
    color: #fff !important;
  }
}

.mat-mdc-card {
  box-shadow: none;
}

.forgot-password {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #ed2028;
}

.btn-back {
  border: none;
  outline: none;
  background: transparent;
}
