<div class="forgot-password">
  <div class="forgot-password-container container">
    <button class="btn-back"><img src="../../../assets/images/back.png" alt="" /></button>
    <img src="../../../assets/images/admin-Logo.png" alt="" />
    <h1>Forgot Password</h1>
    <p>Verify your email address</p>

    <div class="content-box-start">
      <mat-card>
        <form [formGroup]="forgotPasswordForm">
          <mat-form-field appearance="outline">
            <mat-label>Email </mat-label>
            <mat-icon matPrefix>mail</mat-icon>
            <input
              type="email"
              matInput
              formControlName="email"
              placeholder="email"
              required
            />
            <mat-error>
              {{
                forgotPasswordForm.controls["email"].errors
                  | validate : "Email "
              }}
            </mat-error>
            <mat-error
              *ngIf="
                forgotPasswordForm.controls['email'].errors &&
                forgotPasswordForm.controls['email'].errors['email']
              "
            >
              Not a valid email
            </mat-error>
          </mat-form-field>
          <!-- <br> -->

          <button
            type="button"
            mat-raised-button
            color="bg-primary"
            (click)="onSubmit()"
          >
            Verify
          </button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
