<!-- <mat-toolbar color="primary" class="toolbar-header">
    <mat-toolbar-row>
        CHANGE PASSWORD
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider> -->

<div class="content-box-start">
  <mat-card>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Current Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="current password"
          formControlName="passwordCurrent"
          required
        />
        <mat-error>
          {{
            changePasswordForm.controls["passwordCurrent"].errors
              | validate : "Current Password"
          }}
        </mat-error>
      </mat-form-field>
      <!-- <br> -->
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="new password"
          formControlName="password"
          required
        />
        <mat-error>
          {{
            changePasswordForm.controls["password"].errors
              | validate : "New Password"
          }}
        </mat-error>
        <mat-error
          *ngIf="
            changePasswordForm.controls['password'].errors &&
            changePasswordForm.controls['password'].errors['pattern']
          "
        >
          Password should be contain a uppercase a lowercase a special character
          and a number
        </mat-error>
      </mat-form-field>
      <br
        *ngIf="
          changePasswordForm.controls['password'].errors &&
          changePasswordForm.controls['password'].errors['pattern']
        "
      />
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="confirm password"
          formControlName="passwordConfirm"
          required
        />
        <mat-error> Password not matched </mat-error>
      </mat-form-field>
      <br />
      <button type="submit" mat-raised-button class="btn-submit">Submit</button>
    </form>
  </mat-card>
</div>
