form {
  display: flex;
  flex-direction: column;
  width: 50%;

  // button {
  //   width: 10rem;
  //   background: rgb(7, 160, 255);
  // }
}

.mat-mdc-card {
  box-shadow: none;
  padding: 15px;
  min-height: 100vh;
}

.btn-submit {
  width: 100px;
  background-color: #ff4081 !important;
  border-radius: 4px;
  color: #fff !important;
}
