<div class="content-box-start"></div>
<div class="add-individualuser">
    <div class="head-part">
        <h2>Add IndividualUser</h2>
        <button mat-icon-button color="warn" (click)="closeDialog()"></button>
       
        
    </div>
   
        </div>
        <form [formGroup]="addIndividualUserForm">
        <div class="flex-input-detail">
            <div class="input-detail">
                <label>Name of the Representative</label>
                <input class="input-form" type="text" formControlName="name" placeholder="Enter User Name">
            </div>
            <div class="input-detail">
                <label>Email</label>
                <input class="input-form" type="text" formControlName="email" placeholder="Enter Email">
            </div>
            <div class="input-detail">
                <label>Country Code</label>
                <input class="input-form" type="text" formControlName="countryCode" placeholder="Enter Country Code">  
            </div>
            <div class="input-detail">
                <label>Mobile Number</label>
                <input class="input-form" type="text" formControlName="phoneNumber" placeholder="Mobile Number">  
            </div>
        </div>
      
 


    

        <div class="buttons">
            <button class="btn-submit" (click)="addIndividualUser()">Submit</button>
            <button class="btn-cancel" (click)="closeDialog()">Cancel</button>
        </div>
    
  </form>