<div class="content-box-start">
  <div class="dashboard-box">
    <div class="dashboard-item mat-elevation-z2">
      <img src="../../../../../assets/images/article.svg" alt="" />
      <h2>55000</h2>
      <div class="bottom bg-gradient">Total Number of Article/Items</div>
    </div>
    <div class="dashboard-item mat-elevation-z2">
      <img src="../../../../../assets/images/representative.svg" alt="" />
      <h2>36</h2>
      <div class="bottom bg-gradient">Total Number of Representative</div>
    </div>
    <div class="dashboard-item mat-elevation-z2">
      <img src="../../../../../assets/images/location.svg" alt="" />
      <h2>15</h2>
      <div class="bottom bg-gradient">Total number of locations</div>
    </div>
  </div>

  <div class="table__wrapper">
    <app-user-list></app-user-list>
  </div>
</div>
