
  
    <div class="update-password">
      <div class="update-password-container">
        <h1>Update Password</h1>
        <p>
           Update your new password
          </p>

<div class="content-box-start">
    <mat-card>
        <form [formGroup]=" resetPasswordForm" (ngSubmit)="onSubmit()">
           
            <!-- <br> -->
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input type="password" matInput placeholder="new password" formControlName="password" required>             
                <mat-error> Password is require </mat-error>
            </mat-form-field>
            <br
                *ngIf="resetPasswordForm.controls['password'].errors && resetPasswordForm.controls['password'].errors['pattern']">
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput placeholder="confirm password" formControlName="confirmPassword"
                    required>
                <mat-error> Password not matched </mat-error>
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="bg-primary">  Update
            </button>
        </form>
    </mat-card>
</div>